.restaurantes .sub-header span {
  color: #DEDDDD;
}

.sub-header {
  padding: 1rem 0;
}

.restaurantesContainer {
  display: flex;
  margin: 1.2rem 0;
}

.restaurantesContainer img {
  max-width: 120px !important;
  height: 120px !important;
}

.descricaoContainer {
  width: 300px;
  background: #f6f6f6;

}

.descricaoContainer.restaurante.nome{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #828282;
}

h3 .titulo{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #f6f6f6;
}